<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbStockContext" connectionString="metadata=res://*/DbStock.csdl|res://*/DbStock.ssdl|res://*/DbStock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=L;initial catalog=GESTION_DE_STOCK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>